.navigation{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
    font-size: 1.5vw;
    
   
}
.dark-mode a {
    color: aqua;
  }
.navigation a{
    color: white;
    margin-top: 20px;
    margin-right: 40px;
    font-weight: bolder;
    text-decoration: none;
    background-image: linear-gradient(180deg, var(--third-color),var(--third-color));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
.navigation a:hover, 
.navigation a:focus {
    background-size: 100% 2px;
    
}


